body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

header {
    background-color: #58befa;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    height: 50px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button-container{
    margin-top: 3%;
    margin-left: 3%;
}
h1, h2 {
    color: #58befa;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #58befa;
    color: #ffffff;
    border-radius: 5px;
}
